<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galactic.io</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" href="../public/images/hero/eco.png" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
</head>

<body >
    <div class="hero">
        <div class="hero_content">
            <div class="navbar">
                <div class="navbar_content">
                    <div class="navbar_logo">
                        <img class="navbar_logo_logo" src="/images/hero/eco.png" alt="navbar_logo">
                        <img class="navbar_logo_galactic" src="/images/hero/galactic.png" alt="navbar_name">
                    </div>
                    <div class="navbar_list">
                        <a href="#sun">Sun</a>
                        <a href="#mercury">Mercury</a>
                        <a href="#venus">Venus</a>
                        <a href="#earth">Earth</a>
                        <a href="#mars">Mars</a>
                        <a href="#jupiter">Jupiter</a>
                        <a href="#uranus">Uranus</a>
                        <a href="#saturn">Saturn</a>
                        <a href="#neptune">Neptune</a>
                    </div>
                </div>
            </div>
            <div class="hero_text">
                <div class="hero_text_all">
                    <div class="hero_text_heading">
                        <h1>Let's Get To Know</h1>
                        <h1>Our Solar System</h1>
                        <h1>Galaxy</h1>

                    </div>
                    <div class="hero_text_description">
                        <br><br>
                        Embark on a cosmic journey across the ethereal expanse of the solar system Galaxy and follow the
                        orchestration of the
                        cosmos and the planets weaving stories of their timeless existence.
                    </div>
                    <div class="hero_text_button">
                        <form action="#sun">
                            <button>LEARN MORE
                                <img src="/images/hero/south.png" alt="south">
                            </button>
                        </form>
                    </div>
                </div>
                <div class="position">
                    <img id="star_1_1" src="/images/hero/star_1.png" alt="star">
                    <img id="star_1_1" src="/images/hero/star_2.png" alt="star">
                    <img id="layer_2_1" class="floating" src="/images/hero/Layer2_1.png" alt="planet">
                    <img id="layer_2_2" class="floating" src="/images/hero/Layer2_2.png" alt="planet">
                    <img id="layer_2_3" class="floating" src="/images/hero/Layer2_3.png" alt="planet">
                    <img id="layer_2_4" class="floating" src="/images/hero/Layer2_4.png" alt="planet">
                    <img id="layer_2_5" class="floating" src="/images/hero/Layer2_5.png" alt="planet">
                    <img id="layer_2_6" class="floating" src="/images/hero/Layer2_6.png" alt="planet">
                    <img id="layer_2_7" class="floating" src="/images/hero/Layer2_7.png" alt="planet">
                    <img id="group_2" class="floating" src="/images/hero/Group2.png" alt="moon">
                    <img id="layer_2_8" src="/images/hero/Vector_5.png" alt="shootingstar">

                </div>
            </div>
            <img id="layer_2_9" src="/images/hero/Vector_7.png" alt="shootingstar">
        </div>
    </div>
    <div id="sun" class="sun">
        <div class="sun_content">
            <div class="sun_image_container">
                <img id="sun_bg" class="floating" src="/images/sun/sun_shine.png" alt="sun_shine">
                <img id="sun_front" class="floating" src="/images/sun/half_sun.png" alt="half_sun">
            </div>
            <div class="sun_text">
                <div class="sun_text_heading">
                    <h1>.Sun</h1>
                </div>
                <div class="sun_text_content">
                    The Sun is a huge, glowing ball of hot plasma at the centre of our solar system and provides the
                    vital energy needed for
                    life on Earth. This energy radiates outward in the form of light and heat, providing warmth and
                    light to the entire
                    solar system.
                    <br>
                    <br>
                </div>
                <div class="sun_text_cards">
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/sun/donut_large.png" alt="donut">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Diameter
                                <br>
                            </div>
                            <div class="card_content">
                                870,000 Miles
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/sun/thermo.png" alt="thermal">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Temperature
                                <br>
                            </div>
                            <div class="card_content">
                                ±5,500° Celsius
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mercury" id="mercury">
        <div class="mercury_content">
            <div class="mercury_image_container">
                <img class="mercury_image floating" src="/images/mercury/mercury.png" alt="mercury">
            </div>
            <div class="mercury_text">
                <div class="mercury_text_heading">
                    <h1>1. Mercury</h1>
                </div>
                <div class="mercury_text_content">
                    Mercury is the closest planet to the Sun and is known for its extreme temperatures and barren, rocky
                    surface. It is one
                    of the four terrestrial planets in our solar system, characterized by their solid, rocky
                    composition.
                    <br><br><br>
                </div>
                <div class="mercury_text_cards ">
                    <div class="card mercury_card">
                        <div class="card_image">
                            <img src="/images/sun/donut_large.png" alt="donut">
                        </div>
                        <div class="mercury_card_text">
                            <div class="card_heading">
                                Diameter
                            </div>
                            <div class="card_content">
                                3,032 Miles
                            </div>
                        </div>
                    </div>
                    <div class="card mercury_card">
                        <div class="card_image">
                            <img src="/images/sun/thermo.png" alt="thermal">
                        </div>
                        <div class="mercury_card_text">
                            <div class="card_heading">
                                Temperature
                            </div>
                            <div class="card_content">
                                ±430° Celsius
                            </div>
                        </div>
                    </div>
                    <div class="card mercury_card">
                        <div class="card_image">
                            <img src="/images/mercury/cool_thermo.png" alt="cool thermal">
                        </div>
                        <div class="mercury_card_text">
                            <div class="card_heading">
                                Night Time Temperature
                            </div>
                            <div class="card_content">
                                -180° Celsius
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="venus" id="venus">
        <div class="venus_content">
            <div class="venus_image_container">
                <img class="venus_image floating" src="/images/venus/venus.png" alt="venus">
            </div>
            <div class="venus_text">
                <div class="venus_text_heading">
                    <h1>2. Venus</h1>
                </div>
                <div class="venus_text_content">
                    Venus is often referred to as Earth's "sister planet" due to its similar size and composition, but
                    it stands out with
                    its extremely inhospitable environment
                    <br><br><br>
                </div>
                <div class="venus_text_cards">
                    <div class="card venus_card">
                        <div class="card_image">
                            <img src="/images/sun/donut_large.png" alt="donut">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Diameter
                            </div>
                            <div class="card_content">
                                7,521 miles
                            </div>
                        </div>
                    </div>
                    <div class="card venus_card">
                        <div class="card_image">
                            <img src="/images/sun/thermo.png" alt="thermal">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Temperature
                            </div>
                            <div class="card_content">
                                ±475° Celsius
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="earth" id="earth">
        <div class="earth_content">
            <div class="earth_image_container">
                <img class="earth_image floating" src="/images/earth/earth&moon.png" alt="earth">
                <img class="rocket_image    " src="/images/earth/rocket.png" alt="rocket">
            </div>
            <div class="earth_text">
                <div class="earth_text_all">
                    <div class="earth_text_heading">
                        <h1>3. Earth</h1>
                    </div>
                    <div class="earth_text_content">
                        Earth is the third planet from the Sun and the only known planet to support life. Earth is the
                        only planet known to
                        harbor life. It's a diverse and dynamic world with a wide range of ecosystems, climates, and
                        geological features.
                    </div>
                </div>
                <div class="earth_text_cards">
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/sun/donut_large.png" alt="donut">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Diameter
                            </div>
                            <div class="card_content">
                                7,918 miles
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moon">
                <div class="moon_content">
                    <div class="moon_text">
                        <div class="moon_text_heading">
                            <h2>Moon Planet</h2>
                        </div>
                        <div class="moon_text_content">
                            Earth has one natural satellite, the Moon, which plays a role in stabilizing the planet's
                            rotation and tides. The Moon's
                            gravitational pull causes ocean tides to rise and fall.
                        </div>
                    </div>
                    <div class="moon_arrow">
                        <img src="/images/earth/moon_arrow.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mars" id="mars">
        <div class="mars_content">
            <div class="mars_image_container">
                <img class="mars_image floating" src="/images/mars/mars&moons.png" alt="mars">
            </div>
            <div class="mars_text">
                <div class="mars_text_all">
                    <div class="mars_text_heading">
                        <h1>4. Mars</h1>
                    </div>
                    <div class="mars_text_content">
                        Mars, often referred to as the "Red Planet," is the fourth planet from the Sun and has
                        captivated human imagination for
                        centuries with its reddish appearance and potential for hosting life.
                    </div>
                </div>
                <div class="mars_text_cards">
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/sun/donut_large.png" alt="donut">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Diameter
                            </div>
                            <div class="card_content">
                                4,212 miles
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/sun/thermo.png" alt="thermal">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Day Time Temperature
                            </div>
                            <div class="card_content">
                                ±20° Celsius
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/mercury/cool_thermo.png" alt="cool thermal">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Night Time Temperature
                            </div>
                            <div class="card_content">
                                -73° Celsius
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mars_moon">
                <div class="mars_moon_content">
                    <div class="mars_moon_arrow">
                        <img class="mars_moon_arrow" src="/images/mars/mars_arrow.png" alt="arrow">
                    </div>
                    <div class="mars_moon_text">
                        <div class="mars_moon_text_heading">
                            <h2>Martian Moons</h2>
                        </div>
                        <div class="mars_moon_text_content">
                            Mars has two small moons, Phobos and Deimos, which are irregularly shaped and thought to be
                            captured asteroids.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jupiter" id="jupiter">
        <div class="jupiter_content">
            <div class="jupiter_image_container">
                <img class="jupiter_image floating" src="/images/jupiter/jupiter.png" alt="jupiter">
            </div>
            <div class="jupiter_text">
                <div class="jupiter_text_all">
                    <div class="jupiter_text_heading">
                        <h1>5. jupiter</h1>
                    </div>
                    <div class="jupiter_text_content">
                        Jupiter, the largest planet in our solar system, is a gas giant known for its immense size,
                        powerful storms, and numerous moons.
                    </div>
                </div>
                <div class="jupiter_text_cards">
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/sun/donut_large.png" alt="donut">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Diameter
                            </div>
                            <div class="card_content">
                                86.881 miles
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/mercury/cool_thermo.png" alt="thermal">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Temperature
                            </div>
                            <div class="card_content">
                                -108° Celsius
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="saturn" id="saturn">
        <div class="saturn_content">
            <div class="saturn_image_container">
                <img class="saturn_image floating" src="/images/saturn/saturn.png" alt="saturn">
            </div>
            <div class="saturn_text">
                <div class="saturn_text_heading">
                    <h1>6. Saturn</h1>
                </div>
                <div class="saturn_text_content">
                    Saturn, often referred to as the "Ringed Planet," is known for its stunning system of rings that
                    encircle the planet's
                    equator. It's the sixth planet from the Sun and is one of the most visually distinctive objects in
                    our solar system,
                    with more than 80 known satellites.
                </div>
                <div class="saturn_text_cards">
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/sun/donut_large.png" alt="donut">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Diameter
                            </div>
                            <div class="card_content">
                                74.898 miles
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/mercury/cool_thermo.png" alt="thermal">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Temperature
                            </div>
                            <div class="card_content">
                                -139° Celsius
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uranus" id="uranus">
        <div class="uranus_content">
            <div class="uranus_image_container">
                <img class="uranus_image floating" src="/images/uranus/uranus.png" alt="uranus">
            </div>
            <div class="uranus_text">
                <div class="uranus_text_all">
                    <div class="uranus_text_heading">
                        <h1>7. Uranus</h1>
                    </div>
                    <div class="uranus_text_content">
                        Uranus, often referred to as the "Ice Giant," is a unique and mysterious planet in our solar
                        system. It stands out due
                        to its distinct blue-green color and its unusual rotation axis.
                    </div>
                </div>
                <div class="uranus_text_cards">
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/sun/donut_large.png" alt="donut">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Diameter
                            </div>
                            <div class="card_content">
                                31,518 miles
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/mercury/cool_thermo.png" alt="thermal">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Temperature
                            </div>
                            <div class="card_content">
                                -224° Celsius
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="neptune" id="neptune">
        <div class="neptune_content">
            <div class="neptune_image_container">
                <img class="neptune_image floating" src="/images/neptune/neptune.png" alt="neptune">
            </div>
            <div class="neptune_text">
                <div class="neptune_text_all">
                    <div class="neptune_text_heading">
                        <h1>8. Neptune</h1>
                    </div>
                    <div class="neptune_text_content">
                        Neptune, often called the "Blue Giant," is the eighth and farthest planet from the Sun in our
                        solar system. It is a gas
                        giant known for its striking blue color and turbulent atmosphere.
                    </div>
                </div>
                <div class="neptune_text_cards">
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/sun/donut_large.png" alt="donut">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Diameter
                            </div>
                            <div class="card_content">
                                30,775 Miles
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_image">
                            <img src="/images/mercury/cool_thermo.png" alt="thermal">
                        </div>
                        <div class="card_text">
                            <div class="card_heading">
                                Temperature
                            </div>
                            <div class="card_content">
                                -218° Celsius
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_image_container">
            <img class="footer_image" src="/images/footer/footer.png" alt="neptune">
        </div>
        <div class="footer_content">
            <div class="footer_text">
                <div class="footer_upper">
                    <div class="footer_text_heading">
                        Join The Education Comunity
                    </div>
                    <div class="footer_text_content">
                        <br><br>
                        Join the Education Community today and be part of a movement that's transforming minds and
                        shaping tomorrows.
                    </div>
                    <div class="email_input">
                        <input class="email_input_text" type="text" placeholder="Enter Your Email">
                        <div class="sub_bt">
                            <button>
                                Subscribe
                            </button>
                            <a href="/"><img src="/images/footer/button.png" alt="right arrow"></a>
                        </div>
                    </div>
                </div>
                <div class="footer_lower">
                    <div class="footer_navbar">
                        <div class="navbar_content">
                            <div class="navbar_logo">
                                <img class="navbar_logo_logo" src="/images/hero/eco.png" alt="navbar_logo">
                                <img class="navbar_logo_galactic" src="/images/hero/galactic.png" alt="navbar_name">
                            </div>
                            <div class="navbar_list">
                                <a href="#sun">Sun</a>
                                <a href="#mercury">Mercury</a>
                                <a href="#venus">Venus</a>
                                <a href="#earth">Earth</a>
                                <a href="#mars">Mars</a>
                                <a href="#jupiter">Jupiter</a>
                                <a href="#uranus">Uranus</a>
                                <a href="#saturn">Saturn</a>
                                <a href="#neptune">Neptune</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>